# .clang-format
BasedOnStyle: Google   # Google style base
IndentWidth: 2         # Indent each block by 2 spaces
ColumnLimit: 120       # Maximum line length is 120 characters.
UseTab: Never          # Never insert literal tab characters
